<div class='container-fluid gameContainer'>
    <div class='gameLayout' ng-repeat='game in games'>
        <img class='gameImages' ng-src='{{game.avatar}}' />
        <div class='gameDetails'>
            <div class='gameTitle'>
                {{game.title}}
                </br>
                <span>{{game.platforms.join(', ')}}</span>
            </div>

            <div class='trophyWrapper'>
                <ul class='trophyBreakdown'>
                    <li ng-repeat='trophy in trophyOrder' class='{{trophy}}'>{{game.trophies[trophy]}}</li>
                </ul>
            </div>

            <div class='completion'>
                <span>{{game.progress}}% Complete</span>
                <div class='percentage' style='width:{{game.progress}}%'></div>
            </div>
        </div>
    </div>
</div>
