body {
    background-color: #FFF;
    /*font-family: verdana, arial;*/
    color: #FFF;
}

.fixed {
    position: fixed;
}

.navbar * {
    transition: all 1s ease;
}

.navbar {
    margin-bottom: 20px;
    background-color: #3F51B5;
    transition: all 0.5s ease;
    height: 120px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.shrinkNav {
    height: 20px;
}

.avatar {
    width: 110px;
}

.shrinkAvatar {
    width: 40px;
}

.navbar-default {
    border-color: #303F9F;
}

.liveContent {
    margin-top: 74px;
}

.trophyTotals {
    position: absolute;
    float: right;
    margin: auto;
    height: 50px;
    width: 288px;
}

.wrap {
    padding: 18px;
}

.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transition-delay: 0.5s;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}
